<h2 class="page-header">Fill Out Form</h2>
<form action="/" method="POST">
  <%- include('_form_fields') %>
  <div>
    <a href="/">Cancel</a>
    <button type="submit">Submit</button>
  </div>
</form>
